body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #813f8a;
  color: #333;
  height: 100vh; 
  overflow: hidden;
}

.receitas-container {
  max-width: 1200px;
  height: 90vh; 
  margin: auto;
  padding: 40px;
  background: linear-gradient(135deg, #dfc9a5, #ffd6a5);
  border-radius: 4px;
  box-shadow: 0 12px 24px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow: hidden;
}

.receitas-text {
  flex: 1;
  overflow-y: auto; 
  padding-right: 20px;
}

.receita-historia {
  font-size: 1rem;
  color: #444;
  line-height: 1.8;
  margin-bottom: 25px;
}

.receitas-container h1 {
  font-size: 2.4rem;
  color: #d35400;
  margin-bottom: 25px;
}

.receitas-container h2 {
  font-size: 1.6rem;
  color: #e67e22;
  margin-top: 25px;
  margin-bottom: 10px;
}

.receitas-container ul,
.receitas-container ol {
  margin-left: 25px;
  margin-top: 10px;
  line-height: 1.7;
}

ul li::marker {
  color: #e67e22;
}

ol li::marker {
  color: #d35400;
}

ul li, ol li {
  color: #252525;
}

.custo {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-top: 15px;
}

.receita-imagem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  gap: 20px;
}

.receita-imagem img {
  width: 100%;
  max-width: 450px;
    scale: 0.9;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  object-fit: cover;
}

@media (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .receitas-container {
    flex-direction: column;
    height: auto;
    max-height: 100vh;
    margin: 0px;
    padding: 10px;
  }

  .comida-imagem{
    scale: 1;
    margin-bottom: 25px;
    padding: 0;
  }

  .receita-imagem .pao-imagem{
    width: 100px;
    margin: 0px;
    padding: 0;
  }

  .receitas-container h1 {
    font-size: 2rem;
  }

  .receitas-container h2 {
    font-size: 1.4rem;
  }
  .receitas-text ul {
  margin-left: 20px; 
  }

  .receita-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  .receita-imagem img {
    width: 100%;
    max-width: 250px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    object-fit: cover;
    margin-bottom: 50px;
  }

  ul li{
    padding: 0;
  }
  ul {
    padding: 0;
  }
  .temp-imagem {
    display: none;
  }

}

.receitas-text::-webkit-scrollbar {
  width: 8px;
}

.receitas-text::-webkit-scrollbar-track {
  background: #f0e0d8;
  border-radius: 8px;
}

.receitas-text::-webkit-scrollbar-thumb {
  background: #d35400;
  border-radius: 8px;
}

.receitas-text::-webkit-scrollbar-thumb:hover {
  background: #e67e22;
}
